.row {
  /* display: -ms-flexbox; */
  /* display: flex; */
  /* -ms-flex-wrap: wrap; */
  /* flex-wrap: wrap; */
  margin-top: 125px;
  margin-right: -15px;
  margin-left: 51px;
  margin-bottom: 40px;
}