
<div class="row">
  <div class="col-md-5">
<form >
  <div class="form-group">
    <label for="username">User name</label>
    <input type="text" form-contro-name="username" id="username" ng-model="userName">
    <small id="usernameHelp" class="form-text text-muted">Hint : Super Admin</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <!-- <small id="passwordHelp" class="form-text text-muted">Hint : SuperAdmin</small> -->
    <input type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary" (click)="adminLogin()">Submit</button>
</form>
</div>


</div>